.contenedor{
    width: 100vw;
    height: 50vw;
    background-color: #c3c2c6;
    display: grid;
}
.contenedor1{
    width: 20vw;
    height: 50vw;
    background-color: aliceblue;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: all .3s;
}
.contenedor2{
    width: 80vw;
    height: 5vw;
    background-color: aliceblue;
    grid-column-start: 2; 
    grid-row-start: 1;
    
}
.contenedor3{
    width: 80vw;
    height: 45vw;
    grid-column-start: 2;
    grid-row-start: 2;
}

#chao{
    display: none;
}

#chao:checked ~ .contenedor1{
    width: 4vw;
}
#chao:checked ~ .contenedor2{
    width: 92vw;
}
#chao:checked ~ .contenedor1{
    width: 8vw;
}

.barrita{
    border-radius: 20vw;
    height: 1vw;
    width: 4vw;
    margin-left: -10vw;
    background-color: rgb(0, 140, 255);
    border: beige 1px solid;
}
.barrita1{
    border-radius: 20vw;
    
    height: 1vw;
    width: 10vw;
    background-color: rgb(194, 194, 209);
    border: beige 1px solid;
    margin-top: -3vw;
}


.text{/*texto de los cuadritos blancos*/
    margin: -3.5vw 0;
    margin-left: 2vw;
    
}

.Traffic{
    margin-top: 2vw;
    font-size: 0.9vw;
}

.tituloAzul{
    margin-top: -4vw;
    color: blue;
    font-size: 2vw;
}
.cuadroAzul{
    margin-top: -2vw;
    color: aliceblue;
    background-color: rgb(58, 105, 234);/* cuadro azul de la barra izquierda*/
    border-radius: 20vw;
    width: 10vw;
    border:rgb(58, 105, 234) 1px solid;
}
.cuadroAzul1{
    margin-top: -12vw;
    color: aliceblue;
    background-color: rgb(58, 105, 234);/* cuadro azul de la barra izquierda*/
    border-radius: 20vw;
    width: 12vw;
    border:rgb(58, 105, 234) 1px solid;
    margin-left: -2vw;
}

.tabla1{
    
    width: 17vw;
    height: 10vw;
    background-color: aliceblue;
    border-radius: 0.5vw;

}
.textotabla1{
    margin-inline: 2vw;

}
#precio1{
    margin-top: 1vw;
    font-size: 3vw;
}
#Traffic{
    margin-top: -3vw;
    font-size: 1vw; 
}
.sales{
    font-size: 2vw;
}
.textoTabla5{
    margin-inline: 2vw;
}
#porcentaje1{
    font-size: 1.4vw;
    margin-top: 0%;
}
.tabla2{
    width: 17vw;
    height: 10vw;
    background-color: aliceblue;
    border-radius: 0.5vw;
}
.tabla3{
    width: 17vw;
    height: 10vw;
    background-color: aliceblue;
    border-radius: 0.5vw;
}
.tabla4{
    width: 17vw;
    height: 10vw;
    background-color: aliceblue;
    border-radius: 0.5vw;
}
.contenedorTablas{
    margin: 2vw;
    display:flex;
    justify-content: center;
    column-gap: 2vw;
    
}
.tabla5{
    margin-left: 3vw;
    width: 75vw;
    height: 10vw;
    background-color: aliceblue;
    border-radius: 0.5vw;
}
.Dashboard{
    margin-left: 2vw;
    font-size: 2vw;
}

.Home{
    margin-left: 2vw;
    margin-top: -1vw;
}

a{
    text-decoration: none
}
.botomm{
    color: azure;
    background-color: rgb(58, 105, 234);
    width: 10vw;
    border-radius: 1vw;
    border:rgb(58, 105, 234) 1px solid;

}
.tituloAzul{
    margin-top: 1vw;
    color: blue;
    font-size: 3vw;
}
.tituloAzull{
    display: flex;
}
#caritaFeliz{
    margin-top: 1vw;
    width: 4vw;
    height: 4vw;
}