@font-face {
    font-family: tipoletra;
    src: url("./tipografia/MyriadPro-Light.otf");
}



.menuBar{
    position:fixed;
    background-color: #3669c9;
    width: 100vw;
    height: 9vw;
    margin-top: -9vw;
    
}
.contenidoBarraAzul{
    margin-top: 3.5vw;
    width: 90vw;
    justify-content:space-between;
    display: flex;
    font-size: 2vw;
    margin-left: 4vw;
    font-family:tipoletra ;
}
.contenedor1{
    width: 100vw;
    height: 100vw;
    background-repeat: no-repeat;
}
.fondo1{
    background-image: url(imagenes/Fondo.png);
    width: 100%;
    height: 100%;
    margin-top: 8vw;
    background-repeat: no-repeat;
}


#botomConsulta{
    font-size: 1vw;
    width: 8vw;
    height: 2vw;
    border-radius: 2vw;
    border: beige 1px solid;
    
}
#imagenGobierno{
    width: 15vw;
    height: 3vw;
}


#cuadroblanco{
    background-color: rgb(246, 242, 242);
    width: 40vw;
    height: 50vw;
    border-radius: 2vw;
    margin-left: 4vw;
    margin-top: -95vw;
    justify-content: center;
    align-items: center;
    
}
.Titulo{
    font-size: 1.5vw;
    justify-content: center;
    align-items: center;
}
.casilla input{
    font-size: larger;
}
.documento input{
    font-size: larger;
    width: 32vw;
}
.tex{
    font-size: 1.4vw;
    font-family: tipoletra;
}

