.contenedor {
    display: flex;
    justify-content: center;

}

.columna1 {

    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin: 0 10px;

}
.columna111{
    background-color: rgb(26, 134, 134);
    padding: 25px;
    margin:  10px;
}
.columna11{
    background-color: rgb(166, 136, 25);
    padding: 25px;
    margin:  10px;
    
}
.columna2 {
    background-color: rgb(44, 168, 89);
    padding: 15px;
    margin: 0 10px;
   
}
.columna22{
    background-color: rgb(78, 82, 11);
    padding: 45px;
    margin: 100 10px;
   
}
.columna3 {
    background-color: rgb(136, 79, 15);
    padding: 25px;
    margin: 0 10px;
}