.contenedor {
    width: 98vw;
    height: auto;
}
.grit-contenedor1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
    background-color: black;
    padding: 2vw;
    border-radius: 20px;
}
.grit-contenedor1 > div  video {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    
    border-radius: 20px;
}

.item4{
    grid-column-start: 1;
    grid-column-end: 3;
    
    border-radius: 20px;
    
}
.item1{
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 20px;
    
}
.item2{
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 20px;
}
#itenn{
    border-radius: 20px;
}
.grit-contenedor2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vw;
    background-color:black;
    padding: 2vw;
    border-radius: 20px;
}
.grit-contenedor2 > div video {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    
    border-radius: 20px;
}
.itemm1{
    grid-row-start: 1;
    grid-row-end: 1;
    
    border-radius: 20px;
    
}
.itemm2{
    grid-row-start: 1;
    grid-row-end: 3;
    
}
