@font-face {
    font-family: f;
    src: url("./tipografia/Amazon\ Ember\ Light.ttf");
}
@font-face {
    font-family: B;
    src: url("./tipografia/Amazon\ Ember\ Bold.ttf");
}
body{
    background-color: black;
    margin: 0 auto;
    width: 100vw;
    height: 212vw;
}
.fondo{
    margin: 0px auto;
    width: 100vw;
    height: 212vw;
}

.contenedor1{
    background-image: url(imagenes/FondoTwitch.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    min-height: 56.25vw;
    text-align: center;
}
.logo{
    width: 30%;
    height: auto;

}

.imagenfondo{
    display: flex;
    justify-content: space-between;
    height: 5vw;
    padding-top: 1vw;
    margin-left: 2vw;
}
.botom{
    width: 10vw;
    height: 1vw;
    margin-left: 80vw;
    padding-top: 2vw;
    border-radius: 20vw;
    
   
}
.texBotom{
    font-family: f;
    margin-top: -1.5vw;
    font-size: 1vw;

}
.prime{
    border-radius: 50px;
    width: 10vw;
    height: 3vw;
    margin-top: 2vw;
    margin-right: 3vw;
    font-size: 1.5vw;
    font-family: f;
}
.tamaño{
    color: white;
    font-size: 3vw;
    font-family: f;
}
.Titulo{
    color: aliceblue;
    font-family: B;
    font-size: 3vw;
}
.TextoTitulo {
    color: white;
    font-size: 1.5vw;
    font-family: f;
}

.botom2{
    width: 10vw;
    height: 1vw;
    margin-left: 1vw;
    padding-top: 2vw;
    border-radius: 20vw;
}
.contenedor2{
    background-image: url(imagenes/Group\ 2.png);
    background-size: 90vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    min-height: 56.25vw;
    margin-left: 4vw;
}
.contenedor3{
    background-image: url(imagenes/Rectangle\ 3.png);
    background-size: 90vw;
    background-repeat: no-repeat;
    width: 90vw;
    min-height: 50.25vw;
    margin-left: 4vw;
    text-align: center;
    margin-top: -29vw;
}
.titulocuadroazul{
    font-family: f;
    font-size: 3vw;
    color: aliceblue;
}
.imagenes{
    justify-content: space-between;
    height: auto;
    width: 90vw;
    
}
#imagen1{
    height: auto;
    width: 9vw;
}
#imagen2{
    height: auto;
    width: 9vw;
}
#imagen3{
    height: auto;
    width: 9vw;
}
#imagen4{
    height: auto;
    width: 9vw;
}
#imagen5{
    height: auto;
    width: 9vw;
}
.texto11{
    font-family: f;
    color: aliceblue;
    font-size: 2vw;
}
.contenedor4{
    background-image: url(imagenes/Rectangle\ 33.png);
    background-size: 90vw;
    background-repeat: no-repeat;
    width: 90vw;
    min-height: 50.25vw;
    margin-left: 4vw;
    text-align: center;
    margin-top: -15vw;

}
#textotituloo{
    color: aliceblue;
    font-family: B;
    font-size: 3vw;
}
#texx{
    color: aliceblue;
    font-family: f;
    font-size: 2vw;
    margin-top: 1vw;
   
}
#texx2{
    color: aliceblue;
    font-family: f;
    font-size: 2vw;
}
.contenedor5{
    background-size: 90vw;
    background-repeat: no-repeat;
    width: 90vw;
    min-height: 50.25vw;
    margin-left: 4vw;
    text-align: center;
    margin-top: -20vw;
}
#text1{
    color: aliceblue;
    font-family: f;
    font-size: 3vw;
}
#text2{
    color: aliceblue;
    font-family: f;
    font-size: 1vw;
}
#text3{
    color: aliceblue;
    font-family: f;
    font-size: 1vw;
}
.image{
    justify-content: space-between;
    height: auto;
    width: 90vw;

}
#flecha1{
    color: rgb(70, 72, 74);
    font-family: f;
    font-size: 3vw;
    margin-left: -60vw;
    margin-top: -6vw;
}
#flecha2{
    color: rgb(70, 72, 74);
    font-family: f;
    font-size: 3vw;
    margin-left: 60vw;
    margin-top: -6vw;
    

}
#imagen11{
    height: auto;
    width: 10vw;
    margin-left: 4vw;

}
#imagen12{
    height: auto;
    width: 16vw;
    margin-left: 4vw;

}
#imagen13{
    height: auto;
    width: 11vw;
    margin-left: 4vw;

    
}
.firmas{
    justify-content: space-between;
    height: auto;
    width: 90vw;
}
#firma1{
    height: auto;
    width: 4vw;
    margin-top: -5vw;
    margin-left: -3vw;
    
}
#firma2{
    height: 5vw;
    width: 14vw;
    margin-left: 10vw;
    margin-top: -2vw;
}
.ultimaImag{
    color: rgb(71, 73, 75);
    height:auto;
    margin-top: -5vw;
    font-family: f;
    font-size: 1.5vw;
    
    
}

#Xi{
    height: 12vw;
    width: 17vw;
    
}