body{
    background-color: #e7d4ba;
}
.imagen{
    width: 60%;
    margin-top: 0.5vw;
    margin-left: 1.8vw;
    
}
.contenedor1{
    margin-top: 10vw;
    text-align: center;
    margin-left: 35vw; 
    width: 30vw;
    height: 20vw;
    
    border: 1px aliceblue solid;
    background-color: aliceblue;
    animation-name: contenedor1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes contenedor1{
    0%{margin-top:40vw;}

    10%{margin-top: 40vw;}
    20%{margin-top: 0vw;}
    
    
}
.fondoimagen{
    margin-top: -3vw;
    margin-left: 10vw;
    text-align: center;
    border-radius: 5vw;
    width: 30%;
    height: 40%;
    border: 2px solid rgb(227, 230, 230);
    background-color: aliceblue;
}
.titulo{
    color: red;
}
.cuadroazul{
    margin-left: 8vw;
    width: 15vw;
    height: 1.5vw;
    background-color: #009ab1;
    transition: all ;
    border-radius: 0.2vw;
}
.cuadroazul:hover{
    background-color: #f34e60;
}
#textoazul{
    margin-top: 2vw;
}
.menuu{
    width: 2vw;
    height: 2.5vw;
    
    overflow: hidden;
}
.consulttar{
    color: #131212;
    text-decoration: none;
    
}
#menu:checked + .menuu {
    background-color: #82bdb6;
    width: 10vw;
    height: 12vw;
}
#imagenn{
    width: 3vw;

}
#paso1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
#paso2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
#paso3{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}