body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;

}
.contenedor1{
    display: flex;
    justify-content: center;
    margin-top: 7vw;
    width: 25vw;
    height: 30vw;
    overflow: hidden;
    position: relative;
    
}
.imagen1{
    position: relative;
    width: 50vw;
    height: 300vw;
    animation: imagen1 1s infinite;

}

@keyframes imagen1{
    0%{top: 0vw; }
    10%{top: 0vw;}
    10.0001%{top: -30vw; }
    20%{top: -30vw;}
    20.00001%{top: -60vw;}
    30%{top: -60vw;}
    30.00001%{top: -90vw;}
    40%{top: -90vw;}
    40.00001%{top: -120vw;}
    50%{top: -120vw;}
    50.00001%{top: -150vw;}
    60%{top: -150vw;}
    60.0001%{top: -180vw;}
    70%{top: -180vw;}
    70.0001%{top: -210vw;}
    80%{top: -211vw;}
    80.00001%{top: -241vw;}
    90%{top: -241vw;}
    90.00001%{top: -271vw;}
    100%{top: -271vw;}
    100.00001%{top: -301vw;}
  
}
.menuu{
    width: 2vw;
    height: 2.5vw;
    overflow: hidden;
}
.consulttar{
    color: #131212;
    text-decoration: none;
    
}
#menu:checked + .menuu {
    background-color: #82bdb6;
    width: 11vw;
    height: 12vw;
}
.contenedor{
    width: 100vw;
    height: 100vw;
    justify-content: center;
    text-align: center;
    display: flex;
}
#imagenn{
    width: 3vw;
    

}
#paso1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
#paso2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}
#paso3{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vw;
}