body{
    background-color: rgb(255, 255, 255);
}
.contenedor1{
    text-align: center;
    margin-left: 30vw; 
    width: 40vw;
    height: 30vw;
    overflow: hidden;
}
.imagen1{
    
    animation: imagen1 4s infinite;
    
    
}

@keyframes imagen1{
    0%{margin-top: 0vw; opacity: 1;}
    9.9%{margin-top: 0vw; opacity: 1;}
    10%{margin-top: -30vw; opacity: 0;}
    19.9%{margin-top: -30vw; opacity: 1;}
    20%{margin-top: -60vw; opacity: 0;}
    29.9%{margin-top: -60vw; opacity: 1;}
    30%{margin-top: -90vw;opacity: 0;}
    39.9%{margin-top: -90vw; opacity: 1;}
    40%{margin-top: -120vw;opacity: 0;}
    49.9%{margin-top: -120vw;opacity: 1;}
    50%{margin-top: -152vw; opacity: 0;}
    59.9%{margin-top: -152vw; opacity: 1;}
    60%{margin-top: -182vw;opacity: 0;}
    69.9%{margin-top: -182vw;opacity: 1;}
    70%{margin-top: -212vw; opacity: 0;}
    79.9%{margin-top: -212vw; opacity: 1;}
    80%{margin-top: -242vw;opacity: 0;}
    89.9%{margin-top: -242vw;opacity: 1;}
    90%{margin-top:-272vw;opacity: 0;}
    99.9%{margin-top:-272vw;opacity: 1;}
}
