body{
    background-color: #d71435;
}
.contenedor{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    margin-top: 5vw;
}

.menuu{
    width: 35vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#menu:checked + .menuu {
    background-color: rgb(255, 255, 255);
    width: 35vw;
    height: 10vw;
    
}
#letraV{
    position: relative;
    left: 33vw;
    top: 1vw;
    color: rgb(0, 119, 255);
    
}
#titulo1{
    color: rgb(0, 119, 255);
    margin-top: -1.5vw;
    margin-left: 1vw;
    font-size: 1.5vw;
}
#texto1{
    margin-left: 1vw;
    margin-top: 2vw;
}
.menuu2{
    width: 35vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#menu2:checked + .menuu2 {
    background-color: rgb(255, 255, 255);
    width: 35vw;
    height: 10vw;
    
}
.menuu3{
    width: 35vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#menu3:checked + .menuu3 {
    background-color: rgb(255, 255, 255);
    width: 35vw;
    height: 10vw;
    
}
.menuu4{
    width: 35vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#menu4:checked + .menuu4 {
    background-color: rgb(255, 255, 255);
    width: 35vw;
    height: 10vw;
    
}
.menuu5{
    width: 35vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#menu5:checked + .menuu5 {
    background-color: rgb(255, 255, 255);
    width: 35vw;
    height: 10vw;
    
}