.contenedor1{
    width: 30vw;
    height: 30vw;
    border-radius: 2vw;

    background-color: #f2f2f2;
    box-shadow: 0 30px 20px #ccc,
    0 30px 30px rgba(0,0,0,0.25),
    0 28px 0 rgba(0,0,0,0.5),
    0 50px 60px rgba(0,0,0,0.1);
    margin-top: 10vw;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.contenedor2{
    margin-top: 5vw;
    margin-left: 5vw;
    width: 20vw;
    height: 20vw;
    background: linear-gradient(#1ec9ff,#2971e7);
    border-radius: 50vw;
}
.contenedor3{
    position: relative;
    left: 0.5vw;
    top: 0.5vw;
    width: 9vw;
    height: 9vw;
    border-radius: 5vw;
    background-color: 
    #3f8bd3;
}
.lineas span{
    top: 23.2vw;
    left: 50vw;
    background: #f2f2f2;
    position: absolute;
    width: 2px;
    height: 24px;
    transform: translateY(-137.55px) rotate(calc(10deg*var(--i)));
    transform-origin: 0px 180px;
    filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.15));

}
.lineas span::after{
    background: #fff;
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    transform: rotate(5deg);
    transform-origin: 0 150px;
}


.flecha1{
    border-left: 0.5vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 9vw solid red;
    
}

.flecha2{
    border-left: 0.5vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 9vw solid rgb(255, 255, 255);
    
}
.flechas{
    transition: all;
    transition-duration: 1s;
    position: absolute;
    top: 17vw;
    left: 43vw;
    cursor: pointer;
    transform: translateX(130px) rotate(45deg);
    transition: 2s cubic-bezier(1,-0.39,0.5,1);
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.25));
    height: 15vw;
    
}
.flechas:hover{
    transform: translateX(130px) rotate(405deg);
}


