@font-face {
    font-family: tipoletra;
    src: url("./tipografia/Myriad\ Pro\ Regular.ttf");
}



.contenedor{
    margin: 0 auto;
    
}
.fondo1{
    position: relative;
    top: 0px;
    width: 2456px;
    height: 1638px;
    background: transparent url('img/pexels-clive-kim-4150032.png') 0% 0% no-repeat padding-box;
    opacity: 0.5;
}
.menuBar{
    position:fixed;
    background-color: #3669c9;
    top: 0px;
    width: 2456px;
    height: 174px;
    box-sizing: border-box;
    z-index: 999;
}
.imagenBlanca1{
    position: relative;
    top: -1450px;
    left: 0px;
    width: 1545px;
    height: 1225px;
    background: transparent url('img/Rectangle 12.png') 0% 0% no-repeat padding-box;
    border-radius: 50px;
    opacity: 1;
    margin: 0 auto;
}
.inicio{
    position: relative;
    font-family: tipoletra;
    left: 550px;
    color:aliceblue;
    top: 40px;
    font-size: 30px;
}
.tramites{
    position: relative;
    font-family: tipoletra;
    left: 800px;
    color:aliceblue;
    top: -25px;
    font-size: 30px;

}
.logoGobierno{
    position: relative;
    top: -180px;
    left: 1100px;
    width: 349px;
    height: 69px;
    background: transparent url('img/gobiernodecolombia.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.contacto{
    position: relative;
    font-family: tipoletra;
    left: 1650px;
    color:aliceblue;
    top: -90px;
    font-size: 30px;
}
.dian{
    position: relative;
    top: -1400px;
    left: 1050px;
    width: 313px;
    height: 53px;
    background: transparent url('img/2560px-Dian_(Colombia)_logo.svg.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.texto{
    position: relative;
    color: #070707;
    top: -1400px;
    left: 880px;
    font-family: tipoletra;
    font-size: 25px;
    margin-right: 2240px;
    text-align: center;
}
.sol{
    position: relative;
    top: -1400px;
    left: 1100px;
    width: 231px;
    height: 77px;
    background: transparent url('img/ajaxloadingbar.gif.xhtml;jsessionid=+sHFYknGCBRjqaTejHaNvZYe.muisca_face_nodo6.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.numero{
    position: relative;
    top: -1400px;
    left: 850px;
    width: 208px;
    height: 21px;
    font-family: tipoletra;
}
.textoo{
    position: relative;
    top: -1330px;
    left: 855px;
    width: 318px;
    height: 21px;
    font-family: tipoletra;
}
.imagen1{
    position: relative;
    top: -1240px;
    left: 1010px;
    width: 401px;
    height: 113px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.texto3{
    position: relative;
    top: -1240px;
    left: 920px;
    color: #262525;
    font-size: 12px;
    font-family: tipoletra;
}
.texto4{
    font-family: tipo;
    position: relative;
    top: -1150px;
    left: 700px;
    color: #262525;
    font-size: 35px;
    font-family: tipoletra;
    
}
.cuadroAzul{
    position:relative;
    background-color: #3669c9;
    top: -570px;
    width: 2456px;
    height: 285px;
}
.imagen2{
    position: relative;
    top: -1450px;
    left: 970px;
    width: 63px;
    height: 84px;
}
.textt{
    font-family: tipo;
    position: relative;
    top: -1470px;
    left: 920px;
    color: #262525;
    font-size: 30px;
    font-family: tipoletra;
}
.imagen3{
    position: relative;
    top: -1630px;
    left: 1450px;
    width: 63px;
    height: 84px;
}
.textt1{
    font-family: tipo;
    position: relative;
    top: -1660px;
    left: 1320px;
    color: #262525;
    font-size: 30px;
    font-family: tipoletra;
}
.texx{
    font-family: tipo;
    position: relative;
    top: -1680px;
    left: 795px;
    color: #262525;
    font-size: 15px;
    font-family: tipoletra;
    margin-right: 2557px;
    text-align: center;
}
.texx2{
    font-family: tipo;
    position: relative;
    top: -1770px;
    left: 1350px;
    color: #262525;
    font-size: 15px;
    font-family: tipoletra;
    margin-right: 2650px;
    text-align: center;
}